@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, sans-serif !important;
}

.mat-tooltip{
  font-size: 13px !important;
}